h2{
    text-align: center;
    font-family:poppins;
}
button{
    height: 50px ;
    min-width: 80px;
    background: rgb(22,22,21);
    background: linear-gradient(90deg, rgba(22,22,21,1) 0%, rgba(20,4,93,1) 100%);
    border-radius: 50px;
    padding: 10px;
    margin:20px 15px 20px 15px;
    color:white;
}
.body{
    margin-top:50px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.button{
    width:800px;
}
.active
{
    height: 50px ;
    min-width: 80px;
    background: rgb(135,135,163);
    background: linear-gradient(90deg, rgba(135,135,163,1) 0%, rgba(219,230,223,1) 100%);
    border-radius: 30px;
    padding: 10px;
    margin:20px 15px 20px 15px;
    color:black;
}
.activedishwrap{
    display:flex;
    gap:20px;
    width:53%;
    flex-wrap: wrap;
}
.activedish{
    width:200px;
    height: 200px;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    margin-top: 20px;
}
.activedish img{
    width:180px;
    height: 180px;
    border-radius: 20px;
    box-shadow: 10px 10px 14px -2px rgba(0,0,0,0.75);
}
.activedish h2{
    font-family: poppins;
}
.noitem{
    width:100%;
    display:flex;
    justify-content: center;
    font-family: algerian;
}